@tailwind base;
@tailwind components;
@tailwind utilities;

/* Using fonts in the plugin if needed */

/* Import the fonts */

/* Hero Font Faces */
/* @font-face {
	font-family: "Hero";
	src: url("/wp-content/plugins/<plugin-name>/src/assets/fonts/Hero/WOFF/Hero-Light.woff2")
			format("woff2"),
		url("/wp-content/plugins/<plugin-name>/src/assets/fonts/Hero/WOFF/Hero-Light.woff")
			format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Hero";
	src: url("/wp-content/plugins/<plugin-name>/src/assets/fonts/Hero/WOFF/Hero-Regular.woff2")
			format("woff2"),
		url("/wp-content/plugins/<plugin-name>/src/assets/fonts/Hero/WOFF/Hero-Regular.woff")
			format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Hero";
	src: url("/wp-content/plugins/<plugin-name>/src/assets/fonts/Hero/WOFF/Hero-Bold.woff2")
			format("woff2"),
		url("/wp-content/plugins/<plugin-name>/src/assets/fonts/Hero/WOFF/Hero-Bold.woff")
			format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
} */

/* Roboto Font Faces */
/* @font-face {
	font-family: "Roboto";
	src: url("/wp-content/plugins/<plugin-name>/src/assets/fonts/Roboto/Roboto-Light.ttf")
		format("truetype");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url("/wp-content/plugins/<plugin-name>/src/assets/fonts/Roboto/Roboto-Regular.ttf")
		format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url("/wp-content/plugins/<plugin-name>/src/assets/fonts/Roboto/Roboto-Medium.ttf")
		format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url("/wp-content/plugins/<plugin-name>/src/assets/fonts/Roboto/Roboto-Bold.ttf")
		format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
} */

/* Override tailwind components */

/* Base typography */
/* @layer base {
	html {
		font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
			"Segoe UI", "Helvetica Neue", Arial, sans-serif;
		font-size: 16px;
		font-weight: 400;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	a {
		font-family: "Hero", sans-serif;
		font-weight: 700;
	}
} */
